In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

plt.rcParams['axes.unicode_minus'] = False  # To properly display negative signs


from codes.appendix import SectCode
from codes.appendix import FatrCode

In [41]:
from IPython.core.display import HTML

# 글씨 크기를 10px로 조절하는 CSS
css = """
<style>
table.dataframe td, table.dataframe th {
    font-size: 10px;
}
</style>
"""
HTML(css)

In [42]:
from src.api import SmartFarmAPI

api = SmartFarmAPI(config="config.yaml")

In [43]:
df = pd.DataFrame(api.crop_season.getCroppingSeasonDataList("2021"))
df_tomato = df[(df["itemName"] == "토마토") & (df["acqAutoYn"] == "Y")]

def get_data_for_page(serl_no,page):
    return pd.DataFrame(api.crop_season.getCroppingSeasonEnvDataList(serl_no, page))
    
    
def get_data_all_pages(serl_no):
    first_page_data=get_data_for_page(serl_no,1)
    total_page = int(float(first_page_data.at[0, 'totalPage']))

    all_data=[]
    for page in range(1, total_page+2):
        page_data = get_data_for_page(serl_no, page)
        page_data['SerlNo'] = serl_no
        all_data.append(page_data)
    return pd.concat(all_data)

def transform_data(df):
    df_selected = df[["measDate", "fldCode", "sectCode", "fatrCode", "senVal"]]
    df_selected["senVal"] = df_selected["senVal"].astype("double")
    df_selected["measDate"] = pd.to_datetime(df_selected["measDate"])
    df_pivoted = df_selected.iloc[:].pivot_table(index='measDate', columns='fatrCode', values='senVal', aggfunc="mean")
    df_pivoted.rename(columns=lambda x: FatrCode.get_description(x), inplace=True)
    return df_pivoted

if __name__ == "__main__":
    serl=np.array([4419, 4420,4430])
    all_page_datas = []  
    for no in serl:
        all_page_data = get_data_all_pages(no)
        all_page_datas.append(all_page_data)
        final_df = pd.concat(all_page_datas, ignore_index=True)

        상세 기능 번호  : 1
        상세 기능 설명  : 스마트팜 보급 농가 사용자의 작기 정보 조회

        * 요청 메세지 명세 *
            year: 작기 시작 년도 String (형식 : yyyy)

        * 응답 메세지 명세 *
            facilityId: 시설 ID String
            addressName: 지역명 String (법정동명)
            croppingSerlNo: 작기 일련번호 Integer
            itemCode       : 품목코드 String
            itemName: 품목명 String
            croppingDate: 작기 시작 일자 String (형식 : yyyy-mm-dd)
            croppingEndDate: 작기 종료 일자 String (형식 : yyyy-mm-dd)
            acqAutoYn: 환경정보 등록 유무 String (Y : 등록, N : 미등록)
            acqManlYn: 제어정보 등록 유무 String (Y : 등록, N : 미등록)
            acqCultiYn: 생육정보 등록 유무 String (Y : 등록, N : 미등록)
            acqMgmtYn : 경영정보 등록 유무 String (Y : 등록, N : 미등록)


        * Response *
            - statusCode    : 00
            - statusMessage : NORMAL_CODE
            - statusDesc    : 정상

,statusCode,statusMessage,facilityId,addressName,croppingSerlNo,itemCode,itemName,croppingDate,croppingEndDate,acqAutoYn,acqManlYn,acqCultiYn,acqMgmtYn
0,00,NORMAL_CODE,PF_0010071_01,충청남도 부여군,4419,080300,토마토,2021-01-12,2021-06-30,Y,Y,Y,N
1,None,None,PF_0010056_01,충청남도 부여군,4420,080300,토마토,2021-01-12,2021-06-30,Y,Y,Y,N
2,None,None,PF_0010076_01,전라북도 김제시,4430,080300,토마토,2021-01-25,2021-07-30,Y,Y,Y,N
3,None,None,PF_0001403_01,전라북도 남원시,3900,132600,파프리카,2021-01-26,2022-01-06,Y,Y,Y,N
4,None,None,PF_0020763_01,충청남도 부여군,4431,080300,토마토,2021-01-30,2021-07-30,Y,Y,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,None,None,PF_0010056_01,충청남도 부여군,5031,080300,토마토,2021-12-18,2022-06-30,Y,Y,Y,N
248,None,None,PF_0020762_01,충청남도 부여군,4558,090100,오이,2021-12-24,2022-05-30,Y,Y,Y,N
249,None,None,PF_0020762_01,충청남도 부여군,5034,090100,오이,2021-12-28,2022-05-30,Y,Y,Y,N
250,None,None,PF_0000227_01,전라남도 화순군,4732,080300,토마토,2021-12-30,2022-06-30,Y,Y,N,N
251,None,None,PF_0022078_01,전라남도 화순군,4918,080300,토마토,2021-12-30,2022-06-30,Y,Y,N,N

In [118]:
def transform_data(df):
    df_selected = df[["measDate", "fldCode", "sectCode", "fatrCode", "senVal"]]
    df_selected["senVal"] = df_selected["senVal"].astype("double")
    df_selected["measDate"] = pd.to_datetime(df_selected["measDate"])
    df_pivoted = df_selected.iloc[:].pivot_table(index='measDate', columns='fatrCode', values='senVal', aggfunc="mean")
    df_pivoted.rename(columns=lambda x: FatrCode.get_description(x), inplace=True)
    return df_pivoted

final_df

,statusCode,statusMessage,facilityId,measDate,itemCode,fldCode,sectCode,fatrCode,senVal,ymd,cntCollect,num,totalRows,currentPage,totalPage,SerlNo
0,00,NORMAL_CODE,PF_0010071_01,2021-01-12 00:00:00,080600,FG,EI,CI,606.17,20210112,1,1,34003,1,34.0,4419
1,None,None,PF_0010071_01,2021-01-12 00:00:00,080600,FG,EI,HI,92.77,20210112,1,2,34003,1,34.0,4419
2,None,None,PF_0010071_01,2021-01-12 00:00:00,080600,FG,EI,TI,15.33,20210112,66,3,34003,1,34.0,4419
3,None,None,PF_0010071_01,2021-01-12 00:00:00,080600,FG,EO,TE,-3.91,20210112,22,4,34003,1,34.0,4419
4,None,None,PF_0010071_01,2021-01-12 01:00:00,080600,FG,EI,HI,95.14,20210112,66,5,34003,1,34.0,4419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99847,None,None,PF_0010076_01,2021-07-04 23:00:00,080300,FG,EI,TI,15.48,20210704,1,31511,31515,32,31.0,4430
99848,None,None,PF_0010076_01,2021-07-04 23:00:00,080300,FG,EL,TL,24.18,20210704,1,31512,31515,32,31.0,4430
99849,None,None,PF_0010076_01,2021-07-04 23:00:00,080300,FG,EO,RP,0.25,20210704,1,31513,31515,32,31.0,4430
99850,None,None,PF_0010076_01,2021-07-04 23:00:00,080300,FG,EO,TE,24.00,20210704,1,31514,31515,32,31.0,4430
99851,None,None,PF_0010076_01,2021-07-04 23:00:00,080300,FG,EO,WS,0.99,20210704,1,31515,31515,32,31.0,4430

In [122]:
df_tomato_env_data = final_df[["measDate", "fldCode", "sectCode", "fatrCode", "senVal","SerlNo"]]
final_df["senVal"] = pd.to_numeric(final_df["senVal"], errors='coerce')
df_tomato_env_data["measDate"] = pd.to_datetime(final_df["measDate"])

df_pivoted = final_df.pivot_table(index=['measDate', 'SerlNo'], columns='fatrCode', values='senVal', aggfunc='mean')

df_pivoted

C:\Users\mirun\AppData\Local\Temp\ipykernel_30476\1589190825.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tomato_env_data["measDate"] = pd.to_datetime(final_df["measDate"])

fatrCode                        CI     HI  HL    RP     SR     TE     TI  \
measDate            SerlNo
2021-01-12 00:00:00 4419    606.17  92.77 NaN   NaN    NaN  -3.91  15.33
                    4420    664.73  83.61 NaN   NaN   2.00    NaN  13.00
2021-01-12 01:00:00 4419       NaN  95.14 NaN  0.00   0.00    NaN  15.33
                    4420    680.95  84.35 NaN   NaN   1.95    NaN  10.52
2021-01-12 02:00:00 4419    645.50  94.78 NaN   NaN    NaN  -5.73  15.33
...                            ...    ...  ..   ...    ...    ...    ...
2021-07-04 19:00:00 4430    297.00  64.48 NaN  0.29  11.88  26.85  16.91
2021-07-04 20:00:00 4430    302.81  64.04 NaN  0.48    NaN  24.76  16.27
2021-07-04 21:00:00 4430    310.52  63.98 NaN  0.38    NaN  24.10  15.78
2021-07-04 22:00:00 4430    318.20  64.21 NaN  0.25   0.01  24.65  15.74
2021-07-04 23:00:00 4430    324.68  63.83 NaN  0.25    NaN  24.00  15.48

fatrCode                       TL    WS
measDate            SerlNo
2021-01-12 00:00:00 4419      NaN   NaN
                    4420      NaN  0.07
2021-01-12 01:00:00 4419      NaN  0.00
                    4420      NaN  0.09
2021-01-12 02:00:00 4419      NaN   NaN
...                           ...   ...
2021-07-04 19:00:00 4430    25.79  0.62
2021-07-04 20:00:00 4430    25.00  0.62
2021-07-04 21:00:00 4430    25.28  0.50
2021-07-04 22:00:00 4430    24.50  0.93
2021-07-04 23:00:00 4430    24.18  0.99

[11678 rows x 9 columns]